<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/hero_blue"
            android:label="Aircraft War"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/Theme.AircraftWar">
        <activity
                android:name=".client.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".client.LobbySearchActivity"
                android:exported="false" />
        <activity
                android:name=".client.GameActivity"
                android:exported="false" />
        <activity
                android:name=".client.LeaderboardActivity"
                android:exported="false" />
    </application>

</manifest>
